body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header,
.footer,
.intro  {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 24px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 16px;
}

.intro {
    display: flex;
    justify-content: space-around;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.middle {
    display: flex;
}

.quote-block {
    background-color: #E5E7EB;
    display: flex;
}


.action-block {
    display: flex;
}
.action-box {
    background-color: #3882f6;
}

.footer {
    text-align: center;
    margin-top: auto;
}